form {
    margin: 30px auto 0;
    max-width: 400px;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  .card {
    position: relative;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
  }